*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #888;  
}
a:visited{
    color: #444;
}

HTML{
    min-height: 100%;
    display: flex;
}
BODY{
    display: flex;
    flex: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type=button], input[type=submit], button{
    border: none;
    cursor: pointer;
}
.wrap{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
#message{
    position: fixed;
    display: none;
    padding: 30px;
    font-size: 18px;
    text-align: center;
    top: 0;
    width: 100%;
    
    background-color: #444;
    color: #fff;
}
#modal_msg{
    position: absolute;
    width: 100%;

    z-index: 1;
    background-color: #fff;
    color: #000080;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#modal_msg h2{
    padding: 20px;
}
/******************************
*******************************
    --- header ---
_______________________________*/

header{
    background: #1a3867;
    color: #fff;
    padding: 15px 50px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-menu a{
    padding: 7px 15px;
    font-size: 13px; 
    text-align: center;
    color: #000;
    flex-grow: 0;
    background-color: #fff;
    border-radius: 3px;
}
.header-menu a{
   margin: 0 15px; 
}


/******************************
*******************************
    --- page ---
_______________________________*/

.page-wrap{
    display: flex;
    flex-grow: 1;  
    flex-direction: row;
}
.authorization-form-wrap{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.authorization-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-panel{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.workspace{
    padding: 20px 15px;
}
.button-panel a{
    margin: 3px;
    padding: 5px 15px; 
}
.button-panel a:hover{
    background-color: #2d6ca2;
    color: #fff;
}
.button-panel a input{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.panel_category{
    color: #888;
    padding: 10px 20px;
}
.workspace{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    margin-bottom: 50px;
}
.housing_complex{
    display: flex;
    flex-direction: column;
}
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tab_button{
    background-color: #ddd;
    padding: 5px 35px;
    font-weight: bold;
}
#housing_estates_table tr:nth-child(even) td{
    padding: 25px;
    background-color: #eee;
}
/******************************
*******************************
    --- tab1 ---
_______________________________*/
.for_tab1{
    display: flex;
    flex-direction: column;
}
.info_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    flex-grow: 1;
    padding: 20px;
}
.info .logo_img{
    width: 100px;
}
.info label{
    padding: 3px;
}
.info input[type=text]{
    padding: 3px;
    margin: 5px 0;
}
.info input[type=checkbox]{
    margin: 10px;
}
.info input[type=date]{
    width: 150px;
}
.info select{
    width: 200px;
    margin: 5px 0;
}
.agent{
    flex-grow: 1;
}
.agent_block{
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
}
.agent_button{
    padding: 7px 0;
    background-color: #6c757d;
}
.agent_button button{
    background-color: #6c757d;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 12px;
    font-weight: 700;
}
#add_agent_hide{
    display: none;
}
#latitude, #longitude{
    width: 30%;
}
#map{
    margin: 10px 0;
}
.complex_map{
    width: 400px;
    height: 300px;
    background-color: #ddd;
}
.published_radio{
    align-self: flex-end;
    margin-bottom: 20px;
}
.text_editor{
    display: flex;
    flex-direction: row;
    position: relative;
}
.text_editor textarea{
   display: flex;
    flex-grow: 1; 
}

table{
    width: 100%;
    text-align: center;
}
table th{
    font-size: 12px;
    padding: 5px 8px;
    font-weight: 500;
}
.workspace_save{
    padding: 20px;
    margin: 30px 100px;
    background-color: #009926;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
/******************************
*******************************
    --- tab2 ---
_______________________________*/

/******************************
*******************************
    --- tab3 ---
_______________________________*/
.for_tab3{
    display: flex;
    flex-direction: column;
}
.complex_logo{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}
.for_tab3 .complex_logo img{
    width: 250px;
    margin: 5px 20px;
}

.logo_wrap_title, .complex_gallery h3, .gallery_img_button h3{
    padding: 10px;
    margin: 20px 0;
    background-color: #005cbf;
    color: #fff;
}
.housing_estate_logo{
    align-self: flex-start;
    flex-direction: column;
    display: flex;
}
.complex_gallery{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
.complex_gallery .change_order{
    padding: 7px 18px;
    background-color: #009926;
    color: #fff;
    font-size: 1.2em;
    align-self: center;
}
.gallery_img_button{
    display: flex;
    flex-direction: column;
}
.gallery_img_button .info{
    flex-grow: 0;
    align-self: flex-start;
}
.img_btn{
    padding: 5px 15px;
    margin: 5px 20px;
}
.gallery_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.gallery_img .info{
    flex-grow: 0;
}
.gallery_img .info img{
    flex-basis: 350px;
    max-width: 350px;
}
.house_construction_progress{
    height: 300px;
    width: 100%;
    background-color: #c3e6cb;
    padding: 20px;
    margin: 10px;
}
#add_gallery_image{
    padding: 5px 12px;
    font-weight: 700;
    color: yellow;
    background-color: #009926;
    margin: 10px;
    border: 2px red solid;
    
}
/******************************
*******************************
    --- parametrs_page ---
_______________________________*/
.parameters_list_wrap li{
    padding: 10px 15px;
    margin: 10px;
    background-color: #ddd;
}
.parameter_list_title{
   display: flex;
}
.parameter_list{
    display: none;
}
.show_block{
    padding: 0 10px;
    margin: 0 20px;
}
.hide_block{
    display: none;
    padding: 0 10px;
    margin: 0 20px;
}
.location_region{
    margin: 10px 25px;
}
.parameter_wrap{
    padding: 15px;
}
.parameter{
    margin: 0 20px;
    background-color:#444;
    padding: 10px;
    color: #fff;
}
.add_parameter{
    padding: 15px;
}
.update_parameter{
    display: none;
}
.add_parameter input{
    padding: 5px;
    margin: 10px;
}
.parameters_error{
    color: red;
    font-size: 12px;
}

/******************************
*******************************
    --- create_house_page ---
_______________________________*/
.house_plain_wrap{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.plain{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
}
.progress_of_construction{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #eee;
}
.progress_of_construction h2{
    font-size: 16px;
    padding: 20px;
    background-color: #1a3867;
    color: #fff;
}
.progress_of_construction b{
    margin: 20px;
    padding: 20px;
    background-color: #2d6ca2;
    color: #fff;
}
.progress_of_construction .info_wrap{
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}
.progress_of_construction .info{
    flex-basis: 350px;
    max-width: 350px;
    padding-bottom: 34px;
}
.update_order{
    margin-bottom: -29px;
    align-self: flex-end;
}
.apartment_lists input[type=text]{
    width: 80px;
}

.add_apartments input[type=text]{
    width: 80px;
}
.title_appartment_table{
    padding: 10px;
    margin: 30px 10px 10px;
}
.house_plain_wrap img{
    width: 200px;
}
.success h3, .success_description p{
    color: green;
}
.progress_img{
    width: 170px;
    height: 250px;
    margin: 5px 10px;
}
.update_apartments{
   max-width: 200px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #606;
    color: #fff; 
}
#add_table_string{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #000080;
    color: #fff;
    cursor: pointer;
}
#save_new_apartment_string{
    max-width: 400px;
    margin: 10px;
    float: right;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #000080;
    color: #fff;
    cursor: pointer;
}
/******************************
*******************************
    --- apartment_plain_modal ---
_______________________________*/
#apartment_plain_modal{
    display: none;
    position: fixed;
    padding: 20px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(100, 100, 100, 1);
}
.apartment_plain_wrap{
    display: flex;
    flex-direction: column;
}
.input_plain{
    max-width: 400px;
}
.apartment_plain_img{
    width: 300px;
}
#plain_collection{
    display: flex;
    flex-wrap: wrap;
    
}
#plain_collection .info{
    max-width: 350px;
    flex-direction: column;
}
#plain_collection .info{
    max-width: 300px;
}

/******************************
*******************************
    --- footer ---
_______________________________*/
footer{
    background-color: #ddd;
    padding: 23px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    justify-content: center; 
    

}
.footer-menu a{
    text-align: center;
    padding: 10px 20px;
    font-size: 12px; 
    color: #000; 
    border-left: 1px #000 solid; 
}
.footer-menu a:nth-child(1){
    border: none;
}
@media screen and (max-width: 1136px){
    .button-panel a{
        padding: 5px 0;
        margin: 5px 0;
    }
}
@media screen and (max-width: 1094px){
    .button-panel {
        margin: 0;
    }
}
@media screen and (max-width: 1052px){
    /*перестроить расположение блоков */
}