*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #888;  
}
a:visited{
    color: #888;
}

HTML{
    min-height: 100%;
    display: flex;
}
BODY{
    display: flex;
    flex: auto;
}
.wrap{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

/******************************
*******************************
    --- header ---
_______________________________*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #B4CB19;
   
}
.header-menu a{
    padding: 15px 10px;
    font-size: 13px; 
    color: #fff;
    text-align: center;
}
.header-menu .advertising{
    display: none;
}
.cmn-toggle-switch {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height:50px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background: red ;
}
	 
.cmn-toggle-switch:focus {
    outline: none;

}
.cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 25px;
    left: 9px;
    right: 9px;
    height: 4px;
    background: #fff;
}
	 
.cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
}

.cmn-toggle-switch span::before {
    top: -13px;
}
.cmn-toggle-switch span::after {
    bottom: -13px;
}
.cmn-toggle-switch__rot {
    background-color: #A5BC09;
}
.cmn-toggle-switch__rot span {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
	/* active state, i.e. menu open */
.cmn-toggle-switch__rot.active {
  background-color: #b4cb19;
}
.cmn-toggle-switch__rot.active span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
        
        
.top_background{
    padding: 20px;
    position: relative;
    background-image: url(../images/backgrounds/header_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 180px;
}
.logo{
    width: 40%;
    height: 80%;
    position: absolute;
    background: url(../images/backgrounds/logo.png) no-repeat top left ;
    background-size: 100%;

}


/******************************
*******************************
    --- page ---
_______________________________*/

.page-wrap{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/******************************
*******************************
    --- housing_estates ---
      --- search-form ---
_______________________________*/
.search_form *{
/*    border: 1px #aaa solid;*/
}
.search_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px 20px;
}
.search_wrap:first-child{
    flex-grow: 1;
}
.search_form_label{
    text-transform: none;
    font-family: Verdana;
    color: #939598;
    font-size: 14px;
    line-height: 36px;
}
.search_form_field_wrap{
    display: flex;
    flex-direction: row;/*
*/    flex-grow: 1;
position: relative;
/*    padding: 15px;*/
}
.field_group{
    display: flex;
    flex-wrap: wrap;
/*    justify-content: space-between;*/
    flex-grow: 1;
}
.field_group button, .field_group .button_wrap{
    flex-grow: 1;
    flex-basis: 150px;
    color: #9c9c9c;
    height: 35px;
/*    text-align: left;*/
    font-size: 14px;
    font: 400 12.5px Arial;
    margin: 5px 10px;
    border: 1px #ccc solid;
}
.field_group input[type=text]{
    flex-grow: 1;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    font: 400 12.5px Arial;
    box-shadow: inset 0 0 2px #e9e9e9;
    border: 1px solid #cdcdcd;
    margin: 5px 10px;
    padding: 7px;
}
.name_search{
    flex-grow: 1;
}
.location_group{
    flex-grow: 1;
}
.location_wrap{
/*    padding-top: 7px;*/
display: flex;
flex-grow: 1;
}
.location_wrap input{
    display: none;
}
.location_button{
    flex-grow: 1;
/*    flex-basis: 200px;*/
    line-height: 1.3;
    margin: 5px 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 10px;
    font-family: Verdana;
    margin-bottom: 0;

    line-height: 18px;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}


.location_wrap input:checked + .location_button{
    background: #A5BC09;
    color: #fff;
}
.search_btn{
    align-self: center;
    justify-content: center;
    padding: 0px 42px;
    height: 88px;

    border-radius: 5px;
    font-size: 20px;
    background: #a5bc09 ;
    color: #fff;

    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
}
.button_wrap{
    justify-content: center;
    flex-grow: 1;
    position: relative;
/*    max-width: 50%;*/
}
.search_form_button, .apartment_type{
    text-align: center;
    padding: 10px;
    flex-grow: 1;
}
.drop_down_list, .apartment_type_list{
    position: absolute;
    top: 50px;
    width: 250px;
    z-index: 5;
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #cdc4a8;
    display: none;
}

.drop_down_list::after, .drop_down_list::before{
    content: ''; 
    position: absolute;
    left: 20px; 
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ccc;
}
.drop_down_list::after{
    border-bottom: 10px solid #fff;
    top: -19px; 
}
.drop_down_list li{
    padding: 3px 5px;
    margin: 3px 5px;
    width: 100%;
    display: flex;
}
.drop_down_list li:hover{
    color: #9fb603;
    cursor:pointer;
}
.drop_down_list li input{
    margin: 0 5px;
}
.drop_down_list li label{
    flex-grow: 1;
}
.show{
    display: block !important;
}
.banner_top{
    height: 100px;
    border: 3px #0086b3 dotted;
    margin: 10px 0;
    padding: 20px;
}
/******************************
*******************************
    --- content ---
_______________________________*/
.content{
    display: flex;
    
}
.map_wrap{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 30px;
}
.map_wrap h1{
    padding: 20px;
    flex-grow: 1;
    padding: 10px 25px;

    background: #A5BC09;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
}
#map{
    height: 500px;
    background-color: #cdc4a8;
}

.news_wrap{
    flex-basis: 300px;
}
.news_wrap h3{
    padding: 10px 20px;
    background: #A5BC09;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    height: 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.banner_bottom{
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}
.banner_bottom p{
    border: 1px #ccc solid;
   flex-basis: 300px;
}
/******************************
*******************************
    --- footer ---
_______________________________*/
footer{

}
.footer-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center; 
    

}
.footer-menu a{
    text-align: center;
    padding: 10px 20px;

    color: #000; 
    border-left: 1px #cecece solid;
    color: #A5BC09;
font-size: 14px;
font-family: Arial;

}
.footer-menu a:nth-child(1){
    border: none;
}
footer .info-text{
    padding: 15px;
    font-size: 12px;
    font-family: Tahoma;
}
/******************************
*******************************
    --- медиа запросы ---
_______________________________*/

@media screen and (min-width:600px){
    .qwe{
        flex-grow: 1;
    }
}
@media screen and (min-width:768px){
    .search_btn_wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .search_btn{
        flex-grow: 0;
    }
}
@media screen and (min-width:890px){
    .buttons_wrap{
        
        justify-content: inherit;
    }
    .location_group{
       
    }
    .location_wrap{
/*        flex-basis: 70%;*/
    }
    .location_button{
        
        height: 35px;
    }
    .price_group{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .area_group{
        flex-wrap: nowrap;
        flex-direction: row;
    }
/*    .button_wrap{
        order: 2;
    }*/
    .qwe{
        flex-grow: 1;
    }
    
}

@media screen and (max-width:1064px){
    .header-menu a{
        font-size: 12px;
    }
}
@media screen and (max-width:990px){
    .search_form_field_wrap{
        flex-direction: column;
    }
    
}
@media screen and (max-width:980px){
    .cmn-toggle-switch{
        display: block;
        position: absolute;
        z-index: 10;
    }
    .logo{
        right: 20px;
    }
    .header-menu{
        display: none;
        position: absolute;
        top: 70px;
        flex-direction: column;
        width: 400px;
        padding: 15px;
        margin: 10px;
        z-index: 5;
        border-radius: 15px;
    }
    .header-menu a{
        text-align: left;
        font-size: 14px;
        
    }
    .header-menu a li{
        font-weight: bold;
        border-bottom: 1px #fff solid;
        padding: 5px 15px;
    }
    .header-menu .advertising{
        display: block;
        font-size: 14px;
        color: yellow;
    }
    .footer-menu{
        padding: 10px 0;
    }
    .footer-menu a{
        font-size: 11px;
        font-weight: bold;
    }
}
@media screen and (max-width:800px){
    /*    .search_wrap{
        flex-direction: column;
    }*/
    .name_search{
        flex-basis: 400px;
        text-align: center;
    }
/*    .button_wrap{
        flex-basis: 400px;
    }*/
    .search_btn{

        align-self: stretch;
    }
    .content{
        flex-direction: column;
    }
    .map_wrap{
        margin: 0 20px;
    }
}
@media screen and (max-width:766px){
    .search_btn_wrap{
        display: flex;
        flex-grow: 1;
    }
    .search_btn{
        height: 2em;
        flex-grow: 1;
    }
    .top_background{
        height: 150px;
    }
}
@media screen and (max-width:570px){
    .field_group button{
        flex-basis: 200px;
    }
    .top_background{
        height: 90px;
    }
    .top_background{
        height: 120px;
    }
    .logo{
        width: 50%;
    }
}
@media screen and (max-width:480px){
    .banner_top{
        order: -1;
    }
    .top_background{
        height: 90px;
    }
    .logo{
        width: 53%;
    }
}
@media screen and (max-width:400px){
    .location_wrap{
        flex-wrap: wrap;
    }
    .button_wrap{
        max-width: 100%;
    }
    .field_group button{
/*        flex-basis: 200px;*/
    }
    .top_background{
        height: 80px;
    }

}
.baloon_wrap{
 
    display: flex;
}
.estate_desc{
    
}
.baloon_img{
    max-width: 50%;
}
.baloon_img img{
    width: 100%;
}
.estate_desc{
    padding: 0 10px;
}
.estate_desc h3{
    width: 240px !important;
    font-size: 16px;
    line-height: 17px;
    text-align: left;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: normal;
    color: #AEC131;
    text-transform: uppercase;
    margin-top: 10px; 
    padding: 5px;
}
.estate_desc p{
    font-weight: normal;
    text-align: left;
    width: 240px;
    color: #000;
    
    font-size: 11px;
    line-height: 13px;
}








